* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appbar-link {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.appbar-link:hover {
  opacity: 1;
}

.appbar-link:not(:last-child) {
  margin-right: 10px;
}

.title {
  text-align: center;
  position: relative;
  top: 300%;
}


.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-style {
  margin-bottom: 20px;
  position: relative;
}

.blog-style:hover div h6 {
  color: black;
}

.link {
  text-decoration: none;
}

#remove-button {
  margin-left: 10px;
  background-color: black  ;
  color: white;
  align-self: flex-end;
}

#comment-form {
  display: flex;
  flex-direction: column;
}

.blog {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.blog * {
  margin-bottom: 30px;
}

nav {
  background-color: lightgray;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav * {
  margin-right: 5px;
}