.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-style {
  padding: 10px 0 0 2px;
  border: 1px solid black;
  margin-bottom: 5px;
}

#remove-button {
  margin-top: 10px;
}

nav {
  background-color: lightgray;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav * {
  margin-right: 5px;
}