* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

.header,
.diary {
  margin-bottom: 1rem;
}

.form {
  margin-bottom: 3rem;
}

.button {
  margin-top: 1rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}
